<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
    <listeners>
        <listener class-name="com.urbanladder.com.retryAnalyser.RetryListener"/>
  </listeners>
 <!-- Test -->
  <test name="TestLogin">
    <classes>
      <class name="com.urbanladder.com.tests.TestLoginPage"/>
    </classes>
    </test>
    <!-- Test -->
  <test name="TestOrder">
    <classes>
      <class name="com.urbanladder.com.tests.TestOrderPage"/>
    </classes>
    </test>
</suite> <!-- Suite -->
